<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thankage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thankage"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.SSolveActivity"></activity>
        <activity android:name=".main.AdvertisementActivity" />
        <activity android:name=".fragments.setting.SettingActivity0" />
        <activity android:name=".fragments.setting.SettingActivity5" />
        <activity android:name=".fragments.setting.SettingActivity4" />
        <activity android:name=".fragments.setting.SettingActivity3" />
        <activity android:name=".fragments.setting.SettingActivity1" />
        <activity android:name=".login.JoinActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".editor.EditorActivity" />
        <activity android:name=".camp.CampActivity" />
        <activity android:name=".main.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>